@import '../../mixins';

.tweet {
    background-color: $bgColor;
    border: 1px solid $borderColor;
    border-top: 0;
    padding: 10px;
    font-size: 14px;
    color: white;
    overflow-wrap: break-word;
    display: flex;

    &__content {
        flex: 1 1 auto;
        margin-left: 10px;

        &-author {
            color: white;
            display: block;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 8px;

            &-name {
                font-weight: bold;
            }
            &-tweeter {
                color: rgb(27, 149, 224);
                margin-left: 4px;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: rgb(27, 149, 224);
        display: inline-block;
        margin: 0 2px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: inline-block;

        &-wrapper {
            flex: 0 0 50px;
        }
    }
}