@import '../../mixins';

$searchHeight: 56px;

.twitter {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: $appWidth;
    background-color: $bgColor;
    min-height: $searchHeight;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: #1b95e0;
    padding: 0 10px;
    background-size: cover;

    &_fake {
        position: static;
        visibility: hidden;
    }

    &__logo {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-size: cover;
    }

    &__description {
        display: inline-block;
        flex: 0 0 calc(#{$appWidth} - 80px);
        padding: 5px 10px;
        box-sizing: border-box;
        text-align: center;
        color: white;
        font-size: 14px;
        line-height: 16px;
        overflow: hidden;
    }

    &__timeline {
        //margin-top: $searchHeight;
    }
}