@import '../../mixins';

$searchHeight: 56px;

.search {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: $appWidth;
    background-color: $bgColor;
    height: $searchHeight;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: #1b95e0;
    padding: 0 10px;

    &__logo {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-size: cover;
    }

    &__input {
        border-radius: 10px;
        display: inline-block;
        flex: 0 0 calc(#{$appWidth} - 80px);
        height: 26px;
        border: 0;
        outline: 0;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    &__timeline {
        margin-top: $searchHeight;
    }
}